services:
  frontend:
    build:
      context: ../../
      dockerfile: docker/dev/frontend/Dockerfile
    container_name: dev-budget-tracker-frontend
    volumes:
      - ../../packages/frontend:/app/packages/frontend
      - ../../packages/shared:/app/packages/shared
      - root_node_modules:/app/node_modules
      - frontend_node_modules:/app/packages/frontend/node_modules
    ports:
      - '${PORT}:${PORT}'
    env_file: ../../.env.development

volumes:
  root_node_modules:
  frontend_node_modules:
